@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: #f8f9fb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content-table {
  border-collapse: collapse;
  font-size: 0.9em;
  width: 1722px;
}

.content-table thead tr {
  text-align-last: left;
  font-weight: bold;
  text-transform: uppercase;
  color: #39628d;
  line-height: 15px;
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
  height: 56px;
  font-size: 12px;
}

.container {
  padding: 20px;
}

.content-table th,
.content-table td {
  padding: 15px 28px;
}

.content-table tbody tr {
  border-bottom: 1px solid #e2e2e2;

  color: #39628d;
  font-size: 14px;
}

.content-table tbody tr:hover {
  background-color: rgba(57, 98, 141, 0.05);
}

.content-table tbody tr:hover td:nth-child(2) {
  cursor: pointer;
  font-weight: 600;
}

.title {
  color: #22242a;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
}

.top-part {
  display: flex;
  justify-content: space-between;
  width: 1722px;
  margin-left: 24px;
}

.user-type-box {
  color: #354069;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  height: 24px;
  width: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.supervisor {
  background-color: #b9e5e5;
}
.stakeholder {
  background-color: #cacaca;
}
.guest {
  background-color: #f2ac57;
}
.employee {
  background: #e17878;
}

.switch-image {
  cursor: pointer;
}

.top-part span {
  font-size: 12px;
  color: #808080;
  margin-right: 24px;
}

.user-selects {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
}
.headline h2 {
  margin-left: 12px;
}
